@media(max-width:1399px){
    .banner-content {
        margin-top: 100px !important;
    }
    .banner-img img {
        transform: translateX(-48px) scale(1.3);
    }
    .offer {
        bottom: 10%;
        left: 52%;
        height: 170px;
        width: 170px;
    }
    .menu .menuTitle h2 {
        font-size: 33px;
    }
    .menu .menuTitle h3 {
        font-size: 23px;
    }
    .heading p {
        padding: 0px 10%;
    }
    .slider-content p {max-width: 408px; }
    .bg1 { width: 290px;}
    .bg2 {
        left: 69px;
        top: 242px;
        width: 170px;}
    .bg3 {
            width: 260px;
            z-index: -1;
            bottom: -200px;
        }
        .contact p {
            max-width: 399px;
        }
        .contact ul li span {
            letter-spacing: 1px;
        }
      
}
@media(max-width:1199px){
    .delivery img {
        margin-right: 40px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        letter-spacing: 4px;
        padding-left: 20px !important;
       }
       .banner-content h5 {
        font-size: 18px;
        padding: 6px 8px 1px;
    }
       .banner-content h1 {
        font-size: 90px;
        text-shadow: 3px 3px #fff;
    }
    .banner-content h2 {
        font-size: 75px;
        text-shadow: 3px 3px #fff;
    }
    .offer {
        bottom: 7%;
        left: 51%;
        height: 155px;
        width: 155px;
    }
    .offer h3 {
        font-size: 65px;
    }
    .menu .menuTitle h2 {
        font-size: 30px;
    }
    .heading p {
        padding: 0px 2%;
    }
    .product p {
        font-size: 15px;
        margin: 5px 0 !important;
    }
    .slider-content h2 {
        font-size: 34px;
    }
    .slider-content p {
        font-size: 16px;
    }
    .bookSection {
        padding: 20px 0px;
    }
    .bg1 {
        width: 255px;
    }
    .bg2 {
        left: 69px;
        top: 242px;
        width: 140px;
    }
    .bg3 {
        width: 231px;
        z-index: -1;
        bottom: -173px;
    }
    .contact ul li span {
        font-size: 16px;
    }
    .contact ul li svg {
        width: 23px;
        height: 23px;
        margin-right: 6px;
    }
}
@media(max-width:991px){
    .delivery img {
        margin-right: 25px;
    }

    .banner-content {
        margin-top: 80px !important;
    }
    .banner-content h5 {
        font-size: 13px;
        padding: 3px 4px 1px;
    }
    .banner-content h1 {
        font-size: 65px;
        text-shadow: 2px 2px #fff;
    }
    .banner-content h2 {
        font-size: 60px;
        text-shadow: 2px 2px #fff;
    }
    .banner-img img {
        transform: translateX(-55px) scale(1.5);
    }
    .offer {
        bottom: 5%;
        left: 44%;
        height: 135px;
        width: 135px;
    }
    .offer h3 {
        font-size: 50px;
    }
    .menu .menuTitle {
        left: 15px;
        top: 15px;
    }
    .menu .menuTitle h3 {
        font-size: 18px;
    }
    .menu .menuTitle h2 {
        font-size: 22px;
    }
    .heading h4 {
        font-size: 21px;
        padding: 8px 8px 6px 11px;
    }
    .heading h2 {
        font-size: 40px;
    }
    .heading p {
        font-size: 12px;
    }
    .product img {
        min-height: 136px;
    }
    .product h3 {
        font-size: 25px;
    }
    .product p {
        font-size: 11px;
        margin: 3px 0 !important;
        font-weight: 600;
    }
    .product .btn-custom {
        font-size: 11px;
        padding: 7px 30px;
    }
    .eventSection {
        padding: 35px 0px;
    }
    .bookSection .heading {
        padding: 20px 0;
    }
    .carousel-indicators {
        bottom: -4px;
        left: 9px;
    }
    .carousel {
        padding: 20px;
    }
    .slider-content h3 {
        font-size: 25px;
    }
    .slider-content h2 {
        font-size: 25px;
        margin-bottom: 3px !important;
    }
    .slider-content p {
        font-size: 14px;
    }
    .bg1 {
        width: 211px;
        top: -31px;
    }
    .bg2 {
        left: 35px;
        top: 233px;
    }
    .contact {
        padding-top: 10px;
    }
    .contact ul li span {
        font-size: 14px;
    }
    .contact ul li svg {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .contact p {
        font-size: 12px;
        margin-top: 20px !important;
        max-width: 251px;
    }
    .copyright-social p {
        font-size: 18px;
    }
    .copyright-social {
        padding-top: 35px;
    }
    .delivery{
        justify-content: center;
      margin-bottom: 0px !important;
    }
    .navbar-brand img {
        height: 51px;
    }
    .navbar-nav {
        --bs-nav-link-color: rgb(0 0 0);
      font-size: 20px;
    }
}
@media(max-width:767px){
    .navbar-brand img {
        height: 38px;
    }
    .delivery img {
        margin-right: 10px;
        width: 35px;
    }
    .delivery p {
        font-size: 14.7px;
        font-weight: 600;
    }

   .navbar-nav{
    flex-direction: row;
    justify-content: center;
   }
   .navbar-nav .nav-link {
    font-size: 21px;
    padding-left: 31px;
}
    .navbar-brand img {
        width: 172px;
    }
    .banner-content {
        margin-top: 30px !important;
        text-align: center;
    }
    .banner-content h1 {
        font-size: 90px;
    }
    .banner-content h2 {
        font-size: 72px;
    }
    .banner-content h5 {
        font-size: 18px;
        padding: 5px 6px 2px;
    }
    .banner-img img {
        transform: translateX(-112px) scale(1.5);
    }
    .offer {
        bottom: 7%;
        left: 3%;
        height: 140px;
        width: 140px;
    }
    .offer h3 {
        font-size: 56px;
    }
    .menuSection .menu {
        margin-bottom: 20px !important;
    }
    .menu .menuTitle {
        left: 20px;
        top: 20px;
    }
    .menu .menuTitle h3 {
        font-size: 30px;
    }
    .menu .menuTitle h2 {
        font-size: 28px;
    }
    .product h3 {
        font-size: 28px;
    }
    .product .btn-custom {
        font-size: 13px;
        padding: 7px 30px;
        margin-bottom: 40px !important;
    }
    .product .btn-custom {
        font-size: 13px;
        padding: 7px 30px;
        margin-bottom: 40px !important;
    }
    .eventSection {
        padding: 10px 0px;
    }
    .slider-content h3 {
        font-size: 30px;
    }
    .slider-content h2 {
        font-size: 35px;
        margin-bottom: 5px !important;
    }
    .slider-content p {
        font-size: 16px;
        margin-bottom: 10px !important;
    }
    .carousel-indicators [data-bs-target] {
        width: 13px;
        height: 13px;
       
    }
    .carousel-indicators {
        bottom: -7px;
        left: 0px;
        justify-content: center;
    }
    .bg1 {
        width: 224px;
        z-index: -1;
        top: 98px;
        opacity: 0.7;
    }
    .bg2 {
        display: none;
    }
    .bg3 {
        width: 231px;
        z-index: -1;
        bottom: -118px;
        opacity: 0.8;
    }
    .contact {
        padding-top: 10px;
        text-align: center;
    }
    .contact p {
        font-size: 12px;
        margin-top: 15px !important;
        max-width: 251px;
        margin: auto;
    }
    .contact ul li {
        margin-top: 6px !important;
    }
    .copyright-social {
        padding-top: 14px;
    }
    .copyright-social p {
        text-align: center;
    }
    .justify-content-end {
        justify-content: center !important;
        margin-top: 10px !important;
    }
    .navbar-nav {
       
        --bs-nav-link-color: rgb(0 0 0);
      
    }
}
@media(max-width:575px){
    .navbar-brand img {
        height: 38px;
    }
    .navbar-nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }
       .navbar-nav .nav-link {
        font-size: 26px;
        margin-bottom: -6px  !important;
    }


    .banner-content h1 {
        font-size: 65px;
        margin-bottom: -9px !important;
        margin-top: 2px !important;
    }
    .banner-content h2 {
        font-size: 55px;
    }
    .banner-content h5 {
        font-size: 14px;
    }
    .offer h3 {
        font-size: 40px;
    }
    .offer {
        bottom: 5%;
        left: 3%;
        height: 120px;
        width: 120px;
    }
    .banner-img img {
        transform: translateX(-67px) scale(1.5);
    }
    .slider-content h3 {
        font-size: 22px;
    }
    .slider-content h2 {
        font-size: 23px;
        margin-bottom: 2px !important;
    }
    .heading h2 {
        font-size: 30px;
    }
    .bookSection .heading {
        padding: 18px 0px 0px;
    }
}
