
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');



:root{
    --defaultfont:'Montserrat', sans-serif;
    --titelfont: 'Alfa Slab One', cursive;
    --bebesfont: 'Bebas Neue', cursive;
    --themecolor:#3d2514;
}
*{
    margin-top: 0 !important;
    margin-bottom: 0!important;
}
body{
    color: var(--themecolor);
    font-family: var(--defaultfont);
}
.navbar-collapse{
    flex-direction: column;
    align-items: flex-end;
}
 .navbar > .container-fluid {
    
    align-items: flex-start;

}
.delivery{
    align-items: center;
    margin-bottom: 20px !important;
}
.delivery p{
    font-size: 16.67px;
}
.delivery img{
    margin-right:60px;
}
.navbar-nav .nav-link{
    font-family: var(--bebesfont) !important;
    font-size: 20.80px;
    letter-spacing: 6px;
    padding-left: 50px !important;
    padding-right: 0 !important;
}
header{
    position: relative;
    z-index: 2;
    padding-top: 50px;
    background-image: url(../images/backimages.png);
}
.banner-content{
    padding-top: 70px;
    padding-bottom: 0px;
}
    .banner-content h5 {
        display: inline-block;
        font-size: 23px;
        font-family: var(--bebesfont);
        border: 2PX dashed;
        padding: 7px 20px 4px;
        border-radius: 4px;
    }
.banner-content h1{
font-family: var(--titelfont);
font-size: 114px;
text-transform: uppercase;
text-shadow: 4px 4px white;
}
.banner-content h2{
    font-family: var(--titelfont);
font-size: 55px;
text-transform: uppercase;
text-shadow: 4px 4px white;
}
.banner{
    position: relative;
}
.banner img{
     position: relative;
     z-index: -1;
    transform: translateY(-40px)
    translateX(-50px) scale(1.3);}

   
    .offer{
        background-color: red;
        position: absolute;
        bottom: 20%;
        left:2%;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        padding: 10px;
    }
    .offer div {
        border: 2px dashed #fff;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .offer  h3{
    text-transform: uppercase;
    color: #fff;
    font-size: 70px;
    font-family: var(--bebesfont);
    line-height: 1;
    }
    .offer  h3 strong{
       font-size: 30px;
    }
    .offer h3 span{
     display: block;
     font-size: 33px;
     letter-spacing: 2px;
    }

    .menuSection{
        padding: 80px 0;
    }
    .menu{
        position: relative;
        
    }
    .menu img{}
    .menu .menuTitle{
        position: absolute;
        left: 20px;
        top:30px;
    }
    .menu .menuTitle h3{
        font-family: var(--bebesfont);
        color: #fff;
        font-size: 25px;
    }
    .menu .menuTitle h2{
        font-family: var(--bebesfont);
        color: #fff;
        font-size: 41px;
    }
    .flex-space-between{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .productSection{
        padding: 30px 0;
    }
    .heading{
        text-align: center;
        margin-bottom: 40px !important;
    }
    .heading h4{
        font-size: 25px;
        background-color: #ffc045;
        display: inline-block;
        padding: 5px 30px;
        text-transform: uppercase;
        margin-bottom: 20px !important;
        font-family: var(--bebesfont);

    }
    .heading h2{
        font-size: 50px;
        text-transform: uppercase;
        font-family: var(--titelfont);
    }
    .heading p{
        font-size: 16px;
        padding: 0 11%;
    }


    .product{
        text-align: center;
    }
    .product img{
        min-height: 285px;
        
        object-fit: cover;
    }
    .product h3{
        font-size: 30px;
        font-family: var(--bebesfont);

    }
    .product p{
        font-size: 16px;
        margin: 10px 0 !important;
    }
    .product .btn-custom{
        background-color: red;
        color: #fff;
        border-radius: 0;
        font-size: 16px;
        padding: 8px 35px;
        font-family: var(--titelfont);
    }